body{
	/*background:red;*/

    color: #666;
    font-family: 'Open Sans', arial, sans-serif;
    /*width: 960px;
    margin: 0 auto 0 auto;*/
}

nav a:hover, a.current {
  color: #d71a00;
}

.navbar{
	color:#000;
	border-bottom: 5px solid #000;
	min-height: 145px;
}
.navbar-default{
	background-color: #fff;
}

@media (min-width: 768px){

.navbar-nav {
    float: right;
    margin: 0;
}	
}

.hero .main-heading{
	margin-top: 15px;
	margin-bottom:15px;
}

.logo{
	font-size: 20px;
}

img{
	/*width:100%;*/
	padding: 0;
}
.main-wrapper{
	width: 80%;
	margin:0 auto;
	padding:10px;
}
.pt-1{
	padding-top: 10px;
}
.pt-2{
	padding-top: 20px;
}
.pt-3{
	padding-top: 40px;
}
.mt-1{
	margin-top: 10px;
}
.mt-2{
	margin-top: 20px;
}
.mt-3{
	margin-top: 40px;
}
.mb-1{
	margin-bottom: 10px;
}
.mb-2{
	margin-bottom: 20px;
}
.mb-3{
	margin-bottom: 60px;
}
.hack{
	margin-left: 10px;
}